.vscode/
data/
output/
__pycache__/
build/
*.py[cod]
*.so
*.json

lib/__pycache__/
lib/nn/__pycache__/
lib/utils/__pycache__/
upsnet/bbox/__pycache__/
upsnet/config/__pycache__/
upsnet/dataset/__pycache__/
upsnet/mask/__pycache__/
upsnet/models/__pycache__/
upsnet/nms/__pycache__/
upsnet/nms/build/
upsnet/operators/__pycache__/
upsnet/operators/functions/__pycache__/
upsnet/operators/modules/__pycache__/
upsnet/rpn/__pycache__/
upsnet/rpn/anchors.cpython-36m-x86_64-linux-gnu.so
upsnet/rpn/build/

